In [12]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [13]:
train_raw = pd.read_csv('train2.csv')
test = pd.read_csv('test.csv')

In [14]:
train_raw

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...
381104,381105,Male,74,1,26.0,1,1-2 Year,No,30170.0,26.0,88,0
381105,381106,Male,30,1,37.0,1,< 1 Year,No,40016.0,152.0,131,0
381106,381107,Male,21,1,30.0,1,< 1 Year,No,35118.0,160.0,161,0
381107,381108,Female,68,1,14.0,0,> 2 Years,Yes,44617.0,124.0,74,0
381108,381109,Male,46,1,29.0,0,1-2 Year,No,41777.0,26.0,237,0

In [15]:
test

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
0,0,Male,41,1.0,6.0,0,1-2 Year,Yes,36438.0,124.0,119
1,1,Female,28,1.0,28.0,1,< 1 Year,No,44632.0,152.0,91
2,2,Female,32,1.0,8.0,0,1-2 Year,Yes,36838.0,124.0,83
3,3,Male,36,1.0,28.0,1,1-2 Year,No,30074.0,122.0,273
4,4,Female,32,1.0,15.0,0,< 1 Year,Yes,38230.0,152.0,297
...,...,...,...,...,...,...,...,...,...,...,...
76216,76216,Female,46,1.0,3.0,0,> 2 Years,Yes,30714.0,26.0,148
76217,76217,Female,37,1.0,0.0,0,1-2 Year,No,2630.0,61.0,143
76218,76218,Male,33,1.0,49.0,1,< 1 Year,No,33553.0,152.0,267
76219,76219,Male,72,1.0,28.0,0,> 2 Years,Yes,34283.0,124.0,284
76220,76220,Male,55,1.0,0.0,0,1-2 Year,Yes,2630.0,26.0,154

In [16]:
attrs = test.columns
attr_types = [type(test[attrs[i]][0]) for i in range(len(attrs)) ]
attr_types

[numpy.int64,
 str,
 numpy.int64,
 numpy.float64,
 numpy.float64,
 numpy.int64,
 str,
 str,
 numpy.float64,
 numpy.float64,
 numpy.int64]

In [17]:
attrs_raw = train_raw.columns
attr_raw_types = [type(train_raw[attrs_raw[i]][0]) for i in range(len(attrs_raw)) ]
attr_raw_types

[numpy.int64,
 str,
 numpy.int64,
 numpy.int64,
 numpy.float64,
 numpy.int64,
 str,
 str,
 numpy.float64,
 numpy.float64,
 numpy.int64,
 numpy.int64]

In [18]:
attr4 = 'Driving_License'
tmp = train_raw[attr4]

In [19]:
tmp

0         1
1         1
2         1
3         1
4         1
         ..
381104    1
381105    1
381106    1
381107    1
381108    1
Name: Driving_License, Length: 381109, dtype: int64

In [20]:
train_raw[attr4] =  tmp.astype('float64')

In [21]:
attrs

Index(['id', 'Gender', 'Age', 'Driving_License', 'Region_Code',
       'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
       'Policy_Sales_Channel', 'Vintage'],
      dtype='object')

In [25]:
test['Response'] = 0

In [26]:
test

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,0,Male,41,1.0,6.0,0,1-2 Year,Yes,36438.0,124.0,119,0
1,1,Female,28,1.0,28.0,1,< 1 Year,No,44632.0,152.0,91,0
2,2,Female,32,1.0,8.0,0,1-2 Year,Yes,36838.0,124.0,83,0
3,3,Male,36,1.0,28.0,1,1-2 Year,No,30074.0,122.0,273,0
4,4,Female,32,1.0,15.0,0,< 1 Year,Yes,38230.0,152.0,297,0
...,...,...,...,...,...,...,...,...,...,...,...,...
76216,76216,Female,46,1.0,3.0,0,> 2 Years,Yes,30714.0,26.0,148,0
76217,76217,Female,37,1.0,0.0,0,1-2 Year,No,2630.0,61.0,143,0
76218,76218,Male,33,1.0,49.0,1,< 1 Year,No,33553.0,152.0,267,0
76219,76219,Male,72,1.0,28.0,0,> 2 Years,Yes,34283.0,124.0,284,0
76220,76220,Male,55,1.0,0.0,0,1-2 Year,Yes,2630.0,26.0,154,0

In [27]:
attrs

Index(['id', 'Gender', 'Age', 'Driving_License', 'Region_Code',
       'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
       'Policy_Sales_Channel', 'Vintage'],
      dtype='object')

In [28]:
for a in range(len(test)):
    for b in range(len(train_raw)):
        ok = 1
        for i in range(1, len(attrs)):
            attr = attrs[i]
            if pd.isnull(test[attr][a]):
                continue
            if train_raw[attr][b] != test[attr][a]:
                ok = 0
                break
        if ok:
            test['Response'][a] = train_raw['Response'][b]
            print('testId: %d, train_rawId:%d' % (test['id'][a], train_raw['id'][b]))
            break

testId: 0, train_rawId:205299
testId: 1, train_rawId:200638
testId: 2, train_rawId:204319
testId: 3, train_rawId:126267
testId: 4, train_rawId:168476
testId: 5, train_rawId:77038
testId: 6, train_rawId:270066
testId: 7, train_rawId:276387
testId: 8, train_rawId:165640
testId: 9, train_rawId:187962
testId: 10, train_rawId:333634
testId: 11, train_rawId:344269
testId: 12, train_rawId:264379
testId: 13, train_rawId:147148
testId: 14, train_rawId:78571
testId: 15, train_rawId:274939
testId: 16, train_rawId:333950
testId: 17, train_rawId:60970
testId: 18, train_rawId:324931
testId: 19, train_rawId:234957
testId: 20, train_rawId:11933
testId: 21, train_rawId:325798
testId: 22, train_rawId:52866
testId: 23, train_rawId:215053
testId: 24, train_rawId:3934
testId: 25, train_rawId:192753
testId: 26, train_rawId:304838
testId: 27, train_rawId:74326
testId: 28, train_rawId:126910
testId: 29, train_rawId:276581
testId: 30, train_rawId:311753
testId: 31, train_rawId:203217
testId: 32, train_rawId:343168
testId: 33, train_rawId:99590
testId: 34, train_rawId:138253
testId: 35, train_rawId:267625
testId: 36, train_rawId:274065
testId: 37, train_rawId:248298
testId: 38, train_rawId:179908

KeyboardInterrupt:

In [20]:
len(test)

76221

In [ ]:
10, 333634